* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: aqua;
}

.ball {
    width: 40px;
    height: 40px;
    background-color: red;
    margin: 50px auto;
    border: 2px solid black;
    overflow: hidden;
    animation: bounce 2s infinite alternate-reverse;
    border-radius: 30px;
}

@keyframes bounce {
    0% {
        transform: translateY(0);
    }
    25% {
        transform: translateY(75px);
    }
    50% {
        transform: translateY(150px);
    }
    100% {
        transform: translateY(300px);
    }
}